{% extends 'base.html' %}
{%load static %}
{% block title %}
Товары
{% endblock  %}
{% block content %}
{{block.super}}
{% block style %}
    {# подставляем содержимое блока родительского шаблона #}
    {{ block.super }}
    {# добавляем уникальную css для данной страницы #}
    <link rel="stylesheet" href="../static/css/style.css">
 {% endblock %}   
<h1>Список товаров</h1>

<div class="items">
        {% for item in items %}
        <div class="item">
            <a href="/item/{{ item.id }}">
                <p class="item_name">{{ item.name }} </p>
                <p>Бренд: {{ item.brand }} </p>
                <p>Описание товара:</p>
                <p>{{ item.description }}</p>
            </a>
        </div>
        {% endfor %}

{% endblock %}
