<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>
    {% if item.count %}
    Название: {{item.name}} <br>Количество: {{item.count}} <br>
    <a href="/items">Список товаров</a>
    {% else %}
    товар отсутствует <br>
    <a href="/items">Список товаров</a>
    {% endif %}
    <nav>
        <ul>
          <li><a href="/">Главная</a></li>
          <li><a href="/about">Контакты</a></li>
          <li><a href="/items">Товары</a></li>
        </ul>
      </nav>
</body>
</html>